body {
  padding: 10px;
}

.listing-link, .listing-link:hover {
  color: #000000;
  text-decoration: none;
}

.listing:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.listing-img-sm {
  height: 280px;
}

.comment-user {
  font-size: 13px;
}
