body {
  padding: 10px;
}

.listing-link, .listing-link:hover {
  color: #000000;
  text-decoration: none;
}

.listing:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.img-fluid {
  height: 280px;
}
