	.idea/*
	auctions/__pycache__/forms.cpython-37.pyc
	auctions/templates/auctions/.layout.html.swp
	db.sqlite3
	listing_images/*
media/
listing_images/
db.sqlite3
auctions/__pycache__/forms.cpython-37.pyc
.idea/
commerce/__pycache__/urls.cpython-37.pyc
commerce/__pycache__/settings.cpython-37.pyc
commerce/__pycache__/settings.cpython-37.pyc
commerce/__pycache__/settings.cpython-37.pyc
commerce/__pycache__/settings.cpython-37.pyc
commerce/__pycache__/urls.cpython-37.pyc
commerce/__pycache__/settings.cpython-37.pyc
auctions/__pycache__/views.cpython-37.pyc
auctions/__pycache__/views.cpython-37.pyc
auctions/__pycache__/urls.cpython-37.pyc
auctions/__pycache__/models.cpython-37.pyc
auctions/__pycache__/admin.cpython-37.pyc
auctions/__pycache__/views.cpython-37.pyc
auctions/__pycache__/views.cpython-37.pyc
auctions/__pycache__/views.cpython-37.pyc
auctions/__pycache__/views.cpython-37.pyc
auctions/__pycache__/urls.cpython-37.pyc
auctions/__pycache__/models.cpython-37.pyc
auctions/__pycache__/admin.cpython-37.pyc
auctions/.models.py.swp
auctions/.urls.py.swp
