{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ title }}</h2>

    <div class="row">
    {% for listing in listings %}
      <div class="listing col-lg-3 col-sm-12 border rounded ml-3 mr-3 mt-3 mb-3 pl-3 pr-3 pt-3 pb-2">
        <a class="listing-link" href="{% url 'listing' listing.id %}">
          <div class="row">
            <div class="col-12">
              <h3>{{ listing.title }}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              {% if listing.image %}
                <img class="listing-img-sm img-fluid rounded" src="{{ listing.image.url }}" alt="This listing does not have an image">
              {% else %}
              <img class="listing-img-sm img-fluid rounded" src="{% static 'auctions/noimage.png' %}" alt="This listing does not have an image">
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p>{{ listing.description }}</p>
            </div>
          </div>
          <div class="row justify-content-start">
            <div class="col-3">
              <span class="price">
                {% if listing.actual_bid %}
                <strong>${{ listing.actual_bid.amount }}</strong>
                {% else %}
                <strong>${{ listing.initial_bid_amount }}</strong>
                {% endif %}
              </span>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
    </div>
{% endblock %}
