{% extends 'auctions/layout.html' %}
{% load static %}
{% block body %}
  <div class="row">
    <div class="col-12">
      <h2>{{listing.title}}
      {% if listing.status.name == 'Active' %}
      <span class="badge badge-primary">Active</span>
      {% elif listing.status.name == 'Sold' %}
      <span class="badge badge-secondary">Sold</span>
      {% else %}
      <span class="badge badge-secondary">Cancelled</span>
      {% endif %}
      </h2>
    </div>
  </div>
  {% if user.is_authenticated %}
  {% if user == listing.actual_bid.user and listing.status.name == 'Sold' %}
  <div class="row">
    <div class="col-12">
      <div class="alert alert-success" role="alert">
        Congratulations! You have won this item auction.
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}
          {% for error in form.non_field_errors %}
          <div class="row">
            <div class="col-12">
              <div class="alert alert-danger mb-1" role="alert">
                {{ error | escape }}
              </div>
            </div>
          </div>
          {% endfor %}
          {% for error in form.amount.errors%}
          <div class="row">
            <div class="col-12">
              <div class="alert alert-danger mb-1" role="alert">
                {{ error | escape }}
              </div>
            </div>
          </div>
          {% endfor %}
  <hr>
  <div class="row">
    <div class="col-lg-6 col-sm-12 pt-2 pr-0">
      {% if listing.image_URL %}
      <img class="listing-img-lg img-fluid rounded" src="{{listing.image_URL }}" onerror="this.src='{% static "auctions/noimage.png" %}'">
      {% else %}
      <img class="listing-img-lg img-fluid rounded" src="{% static 'auctions/noimage.png' %}" alt="This listing does not have an image">
      {% endif %}
    </div>
    <div class="col-lg-6 col-sm-12 pt-2 pl-3">
      <div class="row">
        <div class="col-8">
          <h5>Description</h5>
        </div>
        <div class="col-4">
          {% if user.is_authenticated %}
          <form action="{% url 'toogle_watchlist' listing.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-outline-secondary btn-sm" type="submit">
              {% if is_on_watchlist %}
              Remove from Watchlist
              {% else %}
              Add to Watchlist
              {% endif %}
            </button>
          </form>
          {% endif %}
        </div>
      </div>
      <div class="row h-50">
        <div class="col-12">
          <p>{{listing.description}}</p>
        </div>
      </div>
      <div class="row mt-auto mb-0 align-items-end">
        <div class="col-12 mt-auto mb-0 align-self-end">
          <b>Price:
            {% if listing.actual_bid %}
            {{listing.actual_bid.amount}}
            {% else %}
            {{listing.initial_bid_amount}}
            {% endif %}
          </b>
        </div>
      </div>
      <div class="row mb-0 align-items-end">
        <div class="col-12 mb-0 align-self-end">
          <span>
            {% if bids_count %}
              {{bids_count}} bid(s) have been placed on this object.
              {% if request.user == listing.actual_bid.user %}
                Your bid is the current bid.
              {% elif has_bid %}
                You were outbidded
              {% endif %}
            {% elif user.is_authenticated %}
            No bids have been placed on this object.
            {% else %}
            <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a> to bid on this item.
            {% endif %}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
        {% if user.is_authenticated %}
        {% if request.user != listing.user and listing.status.can_bid%}
        <form action="{% url 'listing' listing.id %}" method="post">
          {% csrf_token %}
          <div class="form-row mt-2">
            <div class="col-5 mr-1">
              {{ form.amount }}
            </div>
            <div class="col-3 ml-1">
              <input class="btn btn-primary" type="submit" value="Place Bid">
            </div>
          </div>
        </form>
        {% elif listing.status.can_bid %}
        <form action="{% url 'close_listing' listing.id %}" method="post">
          {% csrf_token %}
          <input class="btn btn-primary" type="submit" value="Close">
        </form>
        {% endif %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <h3>Details</h3>
      <ul>
        <li>Listed by: {{listing.user}}</li>
        <li>Category: {{listing.category}}</li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <h3>Comments:</h3>
    </div>
  </div>
  {% for comment in comments %}
  <div class="col-6">
    <div class="row border rounded mt-2 pt-2 mb-2 pb-2">
     <div class="col-12">
       <div class="row">
         <div class="col-12">
           <p>{{comment.text}}</p>
         </div>
       </div>
       <div class="row">
         <div class="col-12 ml-auto mr-0">
           <h6 class="mb-0 mt-auto font-weight-light text-right comment-user">commented by: {{comment.user}} on {{comment.date}}</h6>
         </div>
       </div>
     </div>
    </div>
  </div>
  {% endfor %}
  <div clas="row">
    <div class="col-12">
      <h4>Leave a Comment</h4>
    </div>
  </div>
  {% if user.is_authenticated %}
  <form action="{% url 'post_comment' listing.id %}" method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="col-6 pr-0">
        {{ comment_form.text }}
      </div>
    </div>
    <div class="form-row">
      <div class="col-6">
        <div class="row justify-content-end">
          <div class="col-1 mt-2 mr-1">
            <button type="submit" class="btn btn-secondary">Post</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  {% else %}
  <div class="row">
    <div class="col-12">
      <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a> to comment on this listing.
    </div>
  </div>
  {% endif %}
{% endblock body %}
